body {
    font-family: 'Klaristha', sans-serif;
  }
  


.mbutton{
    width:100%;
    background: #323232;
    color:#FFFFFF;
    text-align: left;
    padding-top: 12px;
    padding-bottom: 12px;
   
    font-weight: 100;
    font-style: inherit;
    padding-left:16px;
    outline: none;
    box-shadow: none;
    border: none;
font-size:20px

}
